<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    
    <div class="container text-center bg-warning p-3" style="--bs-gap: .25rem 1rem;" >
        <h1>Add product</h1>
        <form method="post" action="/products">
            <input name="name" type="text" class="form-control" placeholder="Name" />

            <input name="size" type="text" class="form-control" placeholder="size" />

            
            <input name="path" type="text" class="form-control" placeholder="Path" />
            
            <button class="btn btn-danger">Add Product</button>
        </form>

        <hr />
        <hr />
        <h1>Add Bunglo product With File Uploading</h1>
        <form method="post" action="/products/product-action" enctype="multipart/form-data">
            <input name="name" type="text" class="form-control" placeholder="Name" />

            <input name="size" type="text" class="form-control" placeholder="size" />
            
            <input name="path" type="file" class="form-control" placeholder="Path" />
            
            <button class="btn btn-danger">Add Product</button>
        </form>

        <hr /> <hr />
        <h1>Add interior product With File Uploading</h1>
        <form method="post" action="/products/product-action1" enctype="multipart/form-data">
            <input name="name" type="text" class="form-control" placeholder="Name" />

            <input name="size" type="text" class="form-control" placeholder="size" />
            
            <input name="path" type="file" class="form-control" placeholder="Path" />
            
            <button class="btn btn-danger">Add Product</button>
        </form>

        <hr />
        <hr />
        <h1>Send Email through Form</h1>
        <form method="post" action="/products/email-action">
            <input name="your_email" type="text" class="form-control" placeholder="Your Email" />

            <input name="your_message" type="text" class="form-control" placeholder="Message" />
            
           
            <button class="btn btn-danger">Add Product</button>
        </form>

        <hr />

       

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>